<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close btn-lg" onclick="javascript:location.reload()">
            &times;
        </button>
        <h4 class="modal-title" id="name">
            Distribute Mass Mail
        </h4>
    </div>
    <div class="modal-body" style="height: 500px; overflow-y: scroll;">
        <div>
            <h2>
                Mail Progress
            </h2>
            <p>
                <br />
                Mails sent successfully.
                <br />
                <br />
                Thank you.
            </p>
        </div>
    </div>
</div>
