@{
    ViewBag.Title = "Home Page";
}

<div style=" margin-left:auto;margin-right:auto;padding: 0px 0px 0px 0px;">
    <h3 class="login">Welcome to Equitec Technologies</h3>
    <p>
        To know more about Equitec visit <a href="http://www.equitec.in" title="Technology for finance">http://www.equitec.in</a>.
    </p>
</div>